

html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

:root {
    --title-color: #eeeeee;
    --light-inactive-color: #e0e1dd;
    --dark-background-color: #0D1B2A;
    --dark-background-color-transparent: rgba(13, 27, 42, 0.5);
    --primary: #778DA9;
    --hero-color: #f5f5f5;
    --gradient-color: linear-gradient(150deg, #E0E1DD 0%, #778DA9 100%);

    --ubuntu-mono: "Ubuntu Mono", monospace;
}